<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Programacion Visual-Agenda</title>
</head>
<body>
	<header>
		<h1>BECAS PV</h1>
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="agenda.html">Agenda</a></li>
				<li><a href="beneficios.html">Beneficios y Becas</a></li>
				<li><a href="contacto.html">Contáctanos</a></li>
			</ul>
		</nav>
		<img alt="Calendario" src="../static/images/date.png" title="Calendario 2022">
	</header>
	<article>
		<section>
			<p>Las Becas PV tienen como principal objetivo proporcionar un
				incentivo económico en forma de Beca de estudio para que jóvenes
				provenientes de hogares de bajos ingresos realicen una carrera
				universitaria o una tecnicatura en una disciplina considerada
				estratégica para el desarrollo económico y productivo del país.</p>
		</section>
		<video src="../static/videos/video.mp4" controls="controls" ></video>
	</article>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 –
			Teléfono (388) 999999 S. S. de Jujuy República Argentina.</p>
	</footer>
</body>
</html>