<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Beneficios y Becas</title>
</head>
<body>
		<!-- Uso del fragmento header-->
		
	<header th:replace="layouts/header::fheader"></header>
	
	<h1>Facultad de Ingenieria</h1>
	
	<img alt="Imagen de becas"
			src="images\becas.jpg"
			title="Imagen de becas">


	<!-- TODA LA INFO DEL SITIO -->
	<section>
		<p>Página en construcción</p>
	</section>

	<!-- Uso del fragmento footer-->
	<footer th:replace="layouts/footer::ffooter"></footer>
</body>
</html>