<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Contactos</title>
</head>
<body>

		<!-- Uso del fragmento header-->
	<header th:replace="layouts/header::fheader"></header>
	
		<h1>Facultad de Ingenieria</h1>
		
		<img alt="Imagen de contacto"
			src="images\contacto.jpg"
			title="Imagen de contacto">
	
	
	<!-- CARGA DE FORMULARIO -->
	<form>
		<label>Apellido y Nombre:</label>
		<input id="idayn" type="text" name="appellidoynombre"/> 	<br /><br />
		
		<label>Provincia:</label>	
		<select name="provincia">
			<option value="jujuy">JUJUY</option>
			<option value="salta">SALTA</option>
			<option value="tucuman">TUCUMAN</option>
			<option value="chaco">CHACO</option>
		</select> <br><br>
		
		<label>Teléfono:</label>
		<input id="idtelefono" type="tel" name="telefono"/> <br><br>
		
		<label>Correo electrónico:</label>
		<input id="idemail" type="email" name="email"/><br /><br />
		
		<label>Estado Civil</label><br />

		<input id="idcasado" type="radio" value="casado" name="estadocivil">
		<label for="idcasado">Casado</label><br />
		<input id="idsoltero" type="radio" value="soltero" name="estadocivil">
		<label for="idsoltero">Soltero</label><br />
		<input id="idotro" type="radio" value="otro" name="estadocivil">
		<label for="idotro">Otro</label><br /><br />
		
		<label>Mensaje:</label>
		<textarea rows="3" cols="20"></textarea>
		<br /><br />
				
		<button type="submit">Enviar datos</button>
	</form>

	<!-- Uso del fragmento footer-->
	<footer th:replace="layouts/footer::ffooter"></footer>
</body>
</html>