<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edicion Docente</title>
<!-- Bootstrap Referencia con CDN-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>

<body class="container">
	<!-- Texto informativo -->
	<h1 class="text-center">Edicion de datos - Docente</h1>

	<!-- Formulario de edicion -->
	<form class="card p-3 bg-light" th:action="@{/docente/modificar}"
		method="POST" th:object="${docente}">

		<!-- Propiedad que no debe ser modificada, solamente se visualiza.-->
		<div class="row mb-3">
			<!-- Permite mantener el valor dentro de la propiedad (input oculto, mantiene el valor) -->
			<input type="hidden" th:field="*{legajo}"> <label
				for="inputLegajo" class="col-sm-2 col-form-label">Legajo</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputLegajo"
					th:value="*{legajo}" disabled="disabled">
			</div>
		</div>
		<input type="hidden" th:field="*{estado}"/>
		<input type="hidden" th:field="*{id}"/>
		
		<!-- Propiedades que se podran modificar, incluyendo tambien validacion -->

		<div class="row mb-3">
			<label for="inputNombres" class="col-sm-2 col-form-label">Nombres</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputNombres"
					th:field="*{nombre}">
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}"
					th:errors="*{nombre}"></div>
			</div>
		</div>
		
		<div class="row mb-3">
			<label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputApellidos"
					th:field="*{apellido}">
				<div class="text-danger" th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}"></div>
			</div>
		</div>

		<div class="row mb-3">
			<label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" id="inputEmail"
					th:field="*{email}">
				<div class="text-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}"></div>
			</div>
		</div>

		<div class="row mb-3">
			<label for="inputTelefono" class="col-sm-2 col-form-label">Teléfono</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputTelefono"
					th:field="*{telefono}">
				<div class="text-danger" th:if="${#fields.hasErrors('telefono')}"
					th:errors="*{telefono}"></div>
			</div>
		</div>
		
		<!-- Fin propiedades que pueden ser modificadas.-->

		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-primary me-md-2" type="submit">Confirmar</button>
			<a th:href="@{/docente/listaDocentes}" id="cancel" class="btn btn-secondary">Cancelar</a>
		</div>

	</form>

	<!-- Uso del fragmento header-->
	<footer th:replace="layouts/footer::ffooter"></footer>

</body>
</html>