<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Docentes</title>
</head>
<body>
	<!-- Visualizacion del plantel docente, sin utilizar bootstrap. -->
	<p>Plantel Docente</p>
	<a th:href="@{/docente/nuevo}">Nuevo</a>

	<table>
		<tr>
			<th>Legajo</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>E-mail</th>
			<th>Teléfono</th>
			<th>Opciones</th>
		</tr>
		<tr th:each="docente: ${docentes}">
			<td th:text="${docente.legajo}"></td>
			<td th:text="${docente.nombre}"></td>
			<td th:text="${docente.apellido}"></td>
			<td th:text="${docente.email}"></td>
			<td th:text="${docente.telefono}"></td>
		</tr>
	</table>
</body>
</html>